/* add font styles */
.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}
.modal__container_type_preview {
  background-color: transparent;
  padding: 0;
  max-width: unset;
  width: unset;
}
/* Adjusted positioning for better alignment */
.modal__close-btn {
  position: absolute;
  top: 32px; /* Adjusted for better alignment */
  right: 32px; /* Adjusted for better alignment */
  width: 40px;
  height: 40px;
  background-image: url(../images/CloseIcon.png);
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal__close-btn_type_preview {
  position: absolute;
  top: 0; /* Adjusted for better alignment */
  right: -52.5px; /* Adjusted for better alignment */
  width: 40px;
  height: 40px;
  color: #fff;
  background-image: url(../images/white-close-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  padding: 18px 32px 18px;
  gap: 8px;
  background-color: #212121;
  color: #fff;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #212121;
  opacity: 0.7;
  display: block;
}

.modal__input {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  gap: 10px;
  border: 1px solid #212121;
  opacity: 1;
  margin-top: 8px 0 0;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__error {
  display: block;
  margin-top: 8px;
  color: #ff0000;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__submit-btn_disabled {
  background-color: #808080;
  cursor: not-allowed;
}

.modal__close-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input:focus {
  outline: none;
  border-color: rgba(33, 33, 33, 0.8);
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 90vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  margin-top: 8px;
  color: white;
  background-color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 120%;
  letter-spacing: 0%;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px 10px;
  display: inline-block;
}

@media screen and (max-width: 627px) {
  /** Placed below the 480px media query to avoid being overwritten */

  .modal__caption {
    font-size: 12px;
  }
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
    width: 30px;
    height: 30px;
    background-size: contain;
    border: none;
    background-color: transparent;
    padding: 0;
    background-image: url(../images/white-close-icon.svg);
  }

  .modal__image {
    max-width: 90vw;
    max-height: 75vh;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    font-weight: 500;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #fff;
  }

  .modal__input {
    padding: 12px;
    height: 46px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 8px;
  }

  .modal__label {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
    background-size: contain;
  }
  .modal__close-btn_type_preview {
    width: 40px;
    height: 40px;
    top: -18px; /* Position it above the modal */
    right: 8px; /* Align to the right edge */
    /* Align to the right edge */
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
    padding: 14px 24px;
    font-size: 14px;
    line-height: 20px;
  }
  .modal__image {
    max-width: 90vw;
    max-height: 75vh;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}
