.card {
  max-width: 413px;
  position: relative;
}

.card__title {
  margin: 0; /* Reset default margins */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #212121;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/delete.svg);
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.card__delete-button:hover {
  opacity: 0.6;
  background-image: url(../images/delete-hover.svg);
}

.card__like-button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/like-icon-dark.svg);
  width: 23px;
  height: 20px;
  background-color: transparent;
  opacity: 0.4;
  border: none;
  transition: opacity 0.3s ease;
}

.card__like-button_active {
  background-image: url(../images/red-like.svg);
  opacity: 1;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
  background-image: url(../images/like-hover.svg);
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
